.introduction {
    background-color: #1a1a1a;
}

.text {
    font-size: 2rem;
}

.bio {
    color: #1a1a1a;
    font-size: 1.5rem;
    margin-top: 5rem;
}

.list-item {
    text-decoration: none;
    list-style: none;
    border-width: 2px;
    border-style: solid;
    border-color: #1a1a1a;
    border-radius: 5px;
}

.top-three-projects {
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;
}
