.introduction {
    background-color: #1a1a1a;
}

.text {
    font-size: 2rem;
}

.bio {
    color: #1a1a1a;
    font-size: 1.5rem;
    margin-top: 5rem;
    margin-bottom: 0rem;
}

.portfolio-item {
    /* text-decoration: none; */
    /* list-style: none; */
    border-width: 2px;
    border-style: solid;
    border-color: #1a1a1a;
    border-radius: 5px;
    padding: 5px;
    width: 15rem;
    margin-top: 2.5rem;
}

.item-info {
    color: #1a1a1a;
}

a:hover {
    text-decoration: none;
    color: blue;
}
.portfolio-item h5:hover {
    color: blue;
}
.top-three-projects {
    margin-top: 2.5rem;
}

.contact-info {
    margin-top: 5rem;
    border-width: 2.5px;
    border-style: solid;
    border-color: #1a1a1a;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 0.5rem;
}

.info {
    color: #1a1a1a;
    margin-left: 2rem;
}
.background {
    background-image: url("images/iswanto-arif-590847-unsplash.jpg");
    background-repeat: no-repeat;
}
